
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*shared styles*/
.button-primary{
    background-color: #FF900E;
    color:white;
    padding:20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

/*header styles*/
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/*navabar styles*/
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display:flex;
}
.nav-links li{
    list-style: none;
    margin-right: 30px;
}
.nav-links a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color:#424242
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar h3{
    font-weight: 700;
    font-size:3rem;
}
/*banner styles*/
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
    gap:30px;
}
.banner-title{
    font-weight: 700;
    font-size:4rem;
    color: black;
}
.banner-text{
    font-size:1rem;
    color:#727272;
}
.banner-img{
    width:100%;
}
/*responsive styles*/
@media screen and (max-width:576px){
    .nav-links,.navbar{
        flex-direction: column;
    }
}